@font-face {
    font-family: 'Chiron Go Round TC';
    src: url('ChironGoRoundTC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Huninn';
    src: url('Huninn-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--background-dark);
    color: var(--text);
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: clamp(10rem, 80vmin, 30rem);
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.subtitle {
    font-size: 2.5rem;
    color: var(--text);
    margin: 0;
}

.buttons {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    margin-top: 4rem;
}

.btn {
    position: relative;
    width: auto;
    flex: 1;
    padding: 1rem 1rem;
    font-size: 2rem;
    font-family: var(--font);
    color: var(--text);
    background-color: var(--button);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease;
    box-sizing: border-box;
    min-width: auto;
    box-shadow: 0 0.5rem 0 0 var(--button-dark);
}

.btn:hover {
    color: var(--text_highlight);
}

.btn:active {
    transform: translateY(0.5rem);
}

.info {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    body {
        font-size: 2rem;
        padding: 0.5rem;
        margin-top: 5%;
    }

    .subtitle {
        font-size: 3rem;
    }

    .buttons {
        gap: 2rem;
        margin-top: 2rem;
    }

    .btn {
        font-size: 2.5rem;
        padding: 1.2rem 1rem;
    }

    .info {
        margin-top: 2rem;
    }
}

:root {
    --background-dark: oklch(0.16 0.004 285);
    --button-dark: oklch(0.18 0.008 270);
    --button: oklch(0.22 0.01 260);
    --text: oklch(0.8 0 0);
    --text_highlight: oklch(1 0 0);
    --font: 'Huninn', sans-serif;
}